/* HTML BODY */

:root {
    --menu-text-color: #fff;
}

@font-face {
    font-family: "StolzlBook";
    src: url("../StolzlBook.ttf");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "StolzlBook" !important;
    /* font-family: "Switzer-Regular",sans-serif !important; */
    text-rendering: optimizeLegibility;
    font-feature-settings: normal;
}

/* FORM */

#maincontainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 4%;
    /* border: solid 1px #fff; */
    width: 35%;
    /* border-bottom-left-radius: 2em; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* border-top-right-radius: 2em; */
}

#title_side {
    text-align: center;
    font-size: 300%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.color_text {
    text-shadow: #C380FF 0px 0px 6px;
    color: #C380FF;
}

#wallet {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 15%;
}

#connectWallet {
    border: solid 1px transparent;
    padding: 3% 15%;
    /* border-radius: 10px; */
    border-radius: 2em;
    background-color: #C380FF;
    color: white;
    font-size: 100%;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    transition: .2s;
    cursor: pointer;
}

#connectWallet:hover {
    background-color: transparent;
    border: solid 1px #fff;
}

#stake {
    border: solid 1px #fff;
    border-radius: 10px;
    padding: 3% 4.5%;
    position: relative;
    display: flex;
    justify-content: center;
    /* width: 150%; */
    border-radius: 2em;
}

.first_subtitle {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 0;
    transform: translateY(-55%);
    /* background-color: #000; */
    padding: 0 2%;
    text-shadow: #000 -3px 0px 1px, 3px 0 1px #000, -5px 0 1px #000, 5px 0 1px #000;
}

.stake_input {
    all: unset;
    background: transparent;
    border: 0;
    width: 50%;
    color: #fff;
    margin: 0 1%;
}

.stake_input_btn {
    border: solid 1px transparent;
    border-radius: 2em;
    background-color: #C380FF;
    color: white;
    font-size: 80%;
    /* text-transform: uppercase; */
    transition: .2s;
    cursor: pointer;
    margin: 0 1%;
    padding: 2% 3%;
    /* font-weight: bold; */
    text-wrap: nowrap;
}

#container_logo {
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: red; */
    z-index: 1;
    width: 10vw;
    height: 10vw;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5) 1px;
}

#container_logo_image {
    background: url('../logo2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 1485px) {
    #title_side {
        font-size: 200%;
    }
}


/* TABLE */

#content {
    width: 100%;
    height: 100vh;
    position: relative;
}

.gradient-swap {
    background: linear-gradient(0deg, #000, transparent);
    height: 50px;
    transform: translateY(-50%);
}

#tables {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.3em;
}

.table {
    background: linear-gradient(60deg, #64ADF2, #C380FF);
    padding: 5%;
    border-radius: 0 5rem 0 5rem;
    position: relative;
    text-align: center;
    /* margin: 3% 10%; */
    margin: 2% auto;
    min-width: 30%;
}

.table_title {
    position: absolute;
    font-size: 1.2em;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
}

.table_content {
    font-size: 0.9em;
}

/* BACKGROUND */

.c-section_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

@keyframes blurs-3a114d1d{
    0%{
        opacity:.6;
        transform:rotate(0deg) scale(1, 0.8);
    }
    50%{
        opacity:.2;
        transform:rotate(180deg) scale(0.25, 1);
    }
    100%{
        opacity:.6;
        transform:rotate(359.99deg) scale(1, 0.8);
    }
}

.blur-move-b {
    position: absolute;
    width: 64%;
    opacity: .9;
    left: -10%;
    top: -10%;
    animation: blurs-3a114d1d 60s linear infinite;
}

.blur-move-a {
    position: absolute;
    width: 80%;
    right: -10%;
    bottom: -10%;
    opacity: .6;
    animation: blurs-3a114d1d 40s linear infinite reverse;
}

.bg_block {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* HEADER */

#header {
    display: flex;
    justify-content: end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    transition: .2s;
    padding: 0 5%;
}

@media (max-width: 1097px) {
    #menu {
        transform: translateY(180%);
    }
}

@media (max-width: 989px) {
    #maincontainer {
        width: 65%;
    }
}

.menu_nav {
    margin: 0 5%;
    transition: .2s;
    cursor: pointer;
    color: var(--menu-text-color);
    font-size: 1.2em;
}

.menu_nav a {
    text-decoration: none;
    color: inherit;
}

.menu_nav:hover, #menu:hover {
    --menu-text-color: #b4b4b4;
    color: #fff;
}

/* LOGO */

#logo {
    position: absolute;
    /* position: fixed; */
    left: 0;
    top: 0;
    /* width: 15%; */
    margin-top: .5%;
    cursor: pointer;
    text-decoration: none;
    text-wrap: nowrap;
    /* display: flex; */
    /* justify-content: left; */
    /* flex-wrap: nowrap; */
}

.logo_block {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    /* width: 30%; */
}

.logo_background {
    /* background-color: #f00; */
    padding: 1% 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.logo_text {
    /* padding: 5% 10%; */
    font-weight: bold;
    font-size: 250%;
    transition: .1s;
    margin: 0;
}

#logo_first {
    background-color: #000;
    color: #fff;
}

#logo_second {
    background-color: #fff;
    color: #000;
    padding-left: 15%;
    /* padding-right: 2%; */
}

#logo_third {
    color: #fff;
    padding: 1% 0;
    padding-left: 5%;
}

#logo_four {
    /* padding: 0 5%; */
    text-wrap: nowrap;
    /* position: absolute; */
    /* left: 110%; */
    /* top: 0; */
    /* transform: translateX(115%); */
}

#logo:hover #logo_second {
    padding-bottom: 3%;
}

.logo_href {
    text-wrap: nowrap;
    text-decoration: none;
}

.gradient {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(90deg, #64ADF2 0%, #C380FF 33%, #64ADF2 66%, #64ADF2 100%);
    background-size: 300% 100%;
    background-position: left center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    text-fill-color: rgba(0,0,0,0);
}

@media (max-width: 881px) {
    .table_title {
        font-size: 1em;
    }
    
    .table_content {
        font-size: 0.8em;
    }
}

@media (max-width: 629px) {
    .menu_nav {
        font-size: 1em;
        margin: 1%;
    }

    #menu {
        padding: 0 5%;
        transform: translateY(200%);
    }

    .table_title {
        font-size: 1em;
    }
    
    .table_content {
        font-size: 0.6em;
    }
}

@media (max-width: 535px) {
    #title_side {
        font-size: 150%;
    }
}

@media (max-width: 421px) {
    #maincontainer {
        width: 75%;
    }

    #title_side {
        font-size: 130%;
    }

    #stake {
        flex-wrap: wrap;
    }

    .stake_input {
        flex-grow: 1;
        width: 100%;
        /* height: 22%; */
        margin: 4% 0;
        text-align: center;
        font-size: 1.2em;
    } 

    #menu {
        padding: 0 8%;
        transform: translateY(260%);
    }

    #logo_third {
        padding-left: 10%;
    }

    #logo_four {
        position: absolute;
        top: 100%;
        margin: 0;
        padding: 0;
        left: 50%;
    }

    .table_content {
        /* padding: 10%;
        min-width: 60%; */
    }

    .table {
        padding: 10%;
        min-width: 60%;
    }
}


/* TEXT BLOCK */

.tables_main_title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
}